---
import SkillList from './SkillList.astro'
import VuejsOriginal from '@src/icons/vuejs-original.svg'
import React from '@src/icons/react-original.svg'
import AngularjsOriginal from '@src/icons/angularjs-original.svg'
import Phoenix from '@src/icons/phoenix-original.svg'
import { getLanguage, useLocale } from '@src/lib/i18n'

const lang = getLanguage(Astro.url)
const t = useLocale(lang)
---

<article class='text-center'>
  <h3 class='xxs:text-2xl text-lg text-orange-500'>
    {t('Frameworks', 'skills')}
  </h3>
  <SkillList
    skills={[
      { src: VuejsOriginal, name: 'VueJS' },
      { src: React, name: 'React' },
      { src: AngularjsOriginal, name: 'AngularJS' },
      { src: Phoenix, name: 'Phoenix' }
    ]}
  />
</article>
