---
import ContactLayout from '@src/layouts/ContactLayout.astro'
import { ContactForm } from '@src/client/ContactForm.tsx'
import { getLanguage, useLocale } from '@src/lib/i18n'

const lang = getLanguage(Astro.url)
const t = useLocale(lang)

try {
  const headers = new Headers()
  const request = Astro.request
  const cookieRequest = request.headers.get('cookie')

  if (cookieRequest) {
    headers.set('cookie', cookieRequest)
  }

  const resp = await fetch('http://localhost:4000/api/contact', {
    credentials: 'include',
    headers: headers
  })

  if (resp.ok) {
    const token = resp.headers.get('x-csrf-token') ?? ''
    const set_cookies = resp.headers.get('set-cookie')

    if (token) {
      Astro.cookies.set('signed-token', token, {
        path: '/',
        httpOnly: true
      })
    }

    if (set_cookies) {
      const cookiesHeaders = Astro.cookies.headers()

      for (const cookie of cookiesHeaders) {
        Astro.response.headers.append('set-cookie', cookie)
      }

      Astro.response.headers.append('set-cookie', set_cookies)
    }
  }
} catch (error) {
  console.error(error)
}
---

<ContactLayout title={t('contact')}>
  <div
    class='flex flex-col flex-1 bg-slate-500 w-full items-center drop-shadow sm:mt-11'
  >
    <div
      class='w-full sm:w-auto p-4 sm:p-14 flex flex-col flex-1 justify-center border border-gray-50 bg-slate-200'
    >
      <h1 class='text-2xl sm:text-4xl font-semibold text-gray-800 text-center'>
        {t('Talk to me', 'contact.page')}
      </h1>
      <p class='text-xl sm:text-2xl text-center text-slate-600 mt-2 mb-12'>
        {
          t(
            'Ask questions, send proposals, suggestions or request a quote.',
            'contact.page'
          )
        }
      </p>
      <ContactForm client:load lang={lang} />
    </div>
  </div>
</ContactLayout>
