---
import Layout from '@src/layouts/Layout.astro'
import About from '@components/About.astro'
import AboutJobs from '@components/AboutJobs.astro'
import Contacts from '@components/Contacts.astro'
import Experiences from '@components/Experiences.astro'
import { PageHeader } from '@components/PageHeader.jsx'
//import  Portfolio  from '@components/Portfolio.astro'
import Skills from '@components/Skills.astro'
---

<Layout title='Rogério Ferreira'>
  <main>
    <PageHeader client:load />
    <div class='flex flex-col gap-6'>
      <About />
      <div class='flex flex-col px-0 xs:px-8 xl:px-0 gap-24 my-24'>
        <Skills />
        <Experiences />
        <AboutJobs />
        {/*<Portfolio />*/}
      </div>
      <Contacts />
    </div>
  </main>
</Layout>

<style is:global>
  #mobile-menu-button::before {
    content: '';
  }

  @media only screen and (min-width: theme('screens.fitmenu')) {
    #mobile-menu-button::before {
      content: none;
    }
  }

  .nav-menu li a > div {
    transition: 0.3s ease-out;
    opacity: 0;
  }

  .nav-menu li:hover a > div {
    width: 100%;
    opacity: 1;
  }

  @media only screen and (min-width: theme('screens.fitmenu')) {
    .nav-menu li:hover a > div {
      width: 80%;
      border-radius: 0;
    }
  }
</style>
