---
import { getLanguage, useLocale } from '@src/lib/i18n'
interface Props {
  url: URL
}

const { url } = Astro.props
const lang = getLanguage(url)
const t = useLocale(lang)

let previousPath = '/'

const urlParts = url.pathname.split('/')
const parts = urlParts.map((part, index) => {
  let name = part

  if (part.length === 0) {
    name = 'homepage'
  }

  const path = previousPath + part
  previousPath += part

  if (index > 0 && index <= urlParts.length - 1) {
    previousPath += '/'
  }

  return { path, name: t(name), active: url.pathname === path }
})
---

<div
  class='sm:fixed top-0 left-0 h-11 bg-gray-100 border-0 border-slate-600 w-full px-4 py-2 z-10'
>
  {
    parts.map((part, index) => (
      <>
        <a
          href={part.path}
          class={`text-sky-400 hover:text-sky-300 text-lg underline ${
            part.active ? 'font-bold' : ''
          }`}
        >
          {part.name}
        </a>
        {index >= 0 && index < parts.length - 1 ? (
          <span class='text-gray-400 font-semibold mx-3'>/</span>
        ) : (
          ''
        )}
      </>
    ))
  }
</div>
