---
import SectionCard from './SectionCard.astro'
import LinkIcon from '@src/icons/external-link.astro'
---

<SectionCard section_id='experiences' title='Experiências'>
  <ul class='mt-12 mb-10 flex flex-col gap-14 text-gray-900'>
    <li class=''>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>PingStudio</span>
        <a
          class='inline-block ml-1'
          href='http://www.pingstudio.com.br/'
          rel='external nofollow noreferrer'
          target='blank'
          title='PingStudio homepage'
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i>Consultoria e desenvolvimento de Softwares</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-md font-semibold'>2018 - 2021</div>
        <p class='text-xl font-light mb-5'>
          Prestador de serviços para projetos internos e como freelancer para
          contrato com outras empresas.
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>Tecnologias usadas:</h4>
          <span class='text-blue-700'>
            JAVA, PHP, HTML, CSS, SASS, Javascript, AngularJS, VueJS, Angular 7,
            MongoDB, MySQL
          </span>
        </div>
      </div>
    </li>

    <li>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>Solinftec</span>
        <a
          class='inline-block ml-1'
          href='https://www.solinftec.com/'
          rel='external nofollow noreferrer'
          target='blank'
          title='Solinftec homepage'
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i>Tecnologias para o Agronegócio</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-md font-semibold'>2018 - 2021</div>
        <p class='text-xl font-light mb-5'>
          Freelancer por intermédio da PingStudio. Aplicações de média e alta
          complexidade envolvendo interfaces para equipamentos e monitoramento
          por Mapas/GPS.
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>Tecnologias usadas:</h4>
          <span class='text-blue-700'>
            JAVA, HTML, CSS, SASS, Javascript, AngularJS, VueJS, PL/SQL
          </span>
        </div>
      </div>
    </li>
    <li>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>Dasa</span>
        <a
          class='inline-block ml-1'
          href='https://dasa.com.br/'
          rel='external nofollow noreferrer'
          target='blank'
          title='Dasa homepage'
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i class=''>Rede de saúde integrada.</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-md font-semibold'>2021 - 2021</div>
        <p class='text-xl font-light mb-5'>
          Trabalhamos com interfaces para agendamentos e consultas médicas.
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>Tecnologias usadas:</h4>
          <span class='text-blue-700'>
            HTML, CSS, SASS, Javascript, VueJS, MySQL, Jenkins, Jest, Testing
            Library
          </span>
        </div>
      </div>
    </li>
    <li>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>Perfect Pay</span>
        <a
          class='inline-block ml-1'
          href='https://perfectpay.com.br/'
          rel='external nofollow noreferrer'
          target='blank'
          title='Perfect Pay homepage'
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i>Marketing Digital</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-lg font-semibold'>2021 - 2022</div>
        <p class='text-xl font-light mb-5'>
          Podemos trabalhar com projeto de captura e conversão de Leads.
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>Tecnologias usadas:</h4>
          <span class='text-blue-700'>
            PHP, HTML, CSS, SASS, Javascript, VueJS, MySQL, Websockets, Jest,
            Testing Library
          </span>
        </div>
      </div>
    </li>
  </ul>
</SectionCard>
