---
import { getLanguage, useLocale } from '@src/lib/i18n'
import SectionCard from './SectionCard.astro'
import LinkIcon from '@src/icons/external-link.astro'

const lang = getLanguage(Astro.url)
const t = useLocale(lang)
---

<SectionCard section_id='experiences' title={t('Experiences', 'experiences')}>
  <ul class='mt-12 mb-10 flex flex-col gap-14 text-gray-900'>
    <li class=''>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>PingStudio</span>
        <a
          class='inline-block ml-1'
          href='http://www.pingstudio.com.br/'
          rel='external nofollow noreferrer'
          target='blank'
          title={`PingStudio - ${t('homepage')}`}
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i>{t('pingstudio.business', 'experiences')}</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-md font-semibold'>2018 - 2021</div>
        <p class='text-xl font-light mb-5'>
          {t('pingstudio.function', 'experiences')}
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>
            {t('Used technologies', 'experiences')}:
          </h4>
          <span class='text-blue-700'>
            JAVA, PHP, HTML, CSS, SASS, Javascript, AngularJS, VueJS, Angular 7,
            MongoDB, MySQL
          </span>
        </div>
      </div>
    </li>

    <li>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>Solinftec</span>
        <a
          class='inline-block ml-1'
          href='https://www.solinftec.com/'
          rel='external nofollow noreferrer'
          target='blank'
          title={`Solinftec - ${t('homepage')}`}
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i>{t('solinftec.business', 'experiences')}</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-md font-semibold'>2018 - 2021</div>
        <p class='text-xl font-light mb-5'>
          {t('solinftec.function', 'experiences')}
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>
            {t('Used technologies', 'experiences')}:
          </h4>
          <span class='text-blue-700'>
            JAVA, HTML, CSS, SASS, Javascript, AngularJS, VueJS, PL/SQL
          </span>
        </div>
      </div>
    </li>
    <li>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>Dasa</span>
        <a
          class='inline-block ml-1'
          href='https://dasa.com.br/'
          rel='external nofollow noreferrer'
          target='blank'
          title={`Dasa - ${t('homepage')}`}
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i class=''>{t('dasa.business', 'experiences')}</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-md font-semibold'>2021 - 2021</div>
        <p class='text-xl font-light mb-5'>
          {t('dasa.function', 'experiences')}
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>
            {t('Used technologies', 'experiences')}:
          </h4>
          <span class='text-blue-700'>
            HTML, CSS, SASS, Javascript, VueJS, MySQL, Jenkins, Jest, Testing
            Library
          </span>
        </div>
      </div>
    </li>
    <li>
      <h3 class='text-gray-700 text-xl font-semibold'>
        <span>Perfect Pay</span>
        <a
          class='inline-block ml-1'
          href='https://perfectpay.com.br/'
          rel='external nofollow noreferrer'
          target='blank'
          title={`Perfect Pay - ${t('homepage')}`}
        >
          <LinkIcon class='w-4 h-4 text-blue-500' />
        </a>
      </h3>
      <i>{t('perfectpay.business', 'experiences')}</i>
      <div class='ml-5 mt-5'>
        <div class='text-orange-500 text-lg font-semibold'>2021 - 2022</div>
        <p class='text-xl font-light mb-5'>
          {t('perfectpay.function', 'experiences')}
        </p>
        <div>
          <h4 class='text-gray-700 font-semibold'>
            {t('Used technologies', 'experiences')}:
          </h4>
          <span class='text-blue-700'>
            PHP, HTML, CSS, SASS, Javascript, VueJS, MySQL, Websockets, Jest,
            Testing Library
          </span>
        </div>
      </div>
    </li>
  </ul>
</SectionCard>
